- name: install & config mariadb
  hosts: web_servers
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install MariaDB server
      apt:
        name: mariadb-server
        state: present

    - name: Ensure MariaDB service running & enabled
      service:
        name: mysql
        state: started
        enabled: yes

